# OS-specific files
.DS_Store

# exclude .idea dir
.idea

# exclude xcode project file/directory
moirai.xcodeproj/

# exclude the unzipped sage175crop files
indata/HarvestedAreaYield175Crops_NetCDF/*.png
indata/HarvestedAreaYield175Crops_NetCDF/*.nc

# exclude the unzipped HYDE32 files
indata/HYDE32_baseline/*.asc

# exclude the unzipped ISAM files
indata/ISAM_LC/*.nc

# exclude build dirs
bin/
obj/
Build/

# exclude output dirs
outputs/
examples/outputs/
*.tif
diagnostics/.RData
diagnostics/.Rhistory
*.xml
*.tif
*.nc4

# exclude some other stuff
ancillary/old/
diagnostics/basins235_example_outputs_spatial_output_files/
example_outputs/basins235/*
example_outputs/basins235/aglu-data/
*.stackdump

ancillary/carbon_harmonization/completeness_AG_q3.csv
ancillary/carbon_harmonization/completeness_interpolated_AG_q3.csv
ancillary/carbon_harmonization/Global_carbon_AGq3.csv
diagnostics/data_for_plot.csv
ancillary/carbon_harmonization/basin_AGq3.csv
